services:
  nestjs-chat-api_production:
    environment:
      - DATABASE_URL
      - JWT_SECRET
      - PORT
      - RESEND_API_KEY
      - FRONTEND_URL
      - AWS_ACCESS_KEY
      - AWS_SECRET
      - AWS_BUCKET_NAME
      - AWS_REGION
      - STRIPE_SECRET_KEY
      - STRIPE_WEBHOOK_SECRET


    container_name: nestjs-chat-api_production
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: algomax/nestjs-chat-api:production
    restart: always
    ports:
      - 8000:8000
      - 8001:8001